<% if current_user %>
  
	<%= link_to 'Logout', session_path(session[:id]), method: :delete %>
	<%= link_to 'Profile Page', boot_path(current_user.id) %>

<% else %>
  
  <a href="/sessions/new">Login</a>
  <a href="/boots/new">Register</a> 
<% end %>