<div class="form">
  <h1>Mentors</h1>
<div class="show-list">
<ul>
<% @boots.each do |b| %>

  <% if b.role == 'mentor' %>
    <%= link_to b.first_name, boot_path(b) %><br>
  <% end %>
<% end %>
</ul>
</div>
</div>