<img src="<%= asset_path('homePage.jpg') %>" id="homePage" />
<h1>Welcome to BootScheduler,</h1>
<p>where you can quickly and easily schedule time with a mentor. Find mentors who are knowledgeable in areas you need help in. Sign up or log in to get connected with a mentor.</p>

