<p>Feedback</p>
<% @feedbacks.each do |feedback| %>
    <p>Rating :</p>
    <%= feedback.rating %> 
    <p>Comment: </p>
    <%= feedback.comment %>
    <p><%= link_to "Show", feedback_path(feedback) %></p>
<% end %>