<p>On a scale of 1 to 5 rate your pairing session</p>

<div class="error_message">
<%= render 'partials/error_messages', active_object: @feedback %>
</div>
<%= render "form" %>

<%= link_to "Back", boot_feedbacks_path %> 

